.counter {
  height: 30%;
  width: 50%;
  font-style: normal;
  font-weight: 700;
  font-size: 61px;
  line-height: 71px;
  letter-spacing: 0.06em;
}
.counter-text {
  width: 50%;
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}
.view-files {
  cursor: pointer;
}
.users .container {
  width: 90%;
}
.grey {
  background-color: #d2d2d2;
}

.table thead tr th{
  background-color: #1C1B1F;
  color: #FFFBFE;
}

.table tbody tr:nth-child(even) td{
  background-color: #D2D2D2;
  color: #1C1B1F;
}
@media (max-width: 767px) {
  .hide-users {
    display: none;
  }
}
